/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.layout {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  align-items: flex-start;
}

.sidecolumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.sidecolumn p {
  margin-top: 1rem;
}

/* Header */
header {
  text-align: center;
  padding: 2rem;
  background-color: #1f2937;
  color: #fff;
}

header img {
  width: 150px;
  border-radius: 50%;
  margin-top: 1rem;
}

/* Nav */
nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #111827;
  padding: 1rem 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Sections */
main {
  flex: 3;
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

#about p {
  margin-top: 1rem;
  text-align: justify;
  margin-bottom: 2rem;
}

/*skills*/
#skills {
  padding: 2rem;
  padding-left: 1rem;
  background-color: #e5e7eb;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#skills h2 {
  margin-bottom: 1rem;
}

/* Projects */
article {
  background-color: #e5e7eb; /* estou em dúvidas sobre o #1f2937 */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

#projects {
  background-color: #e5e7eb;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 2rem;
}

#projects {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.wallet,
.nlw {
  margin-top: 1rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Extras */
aside {
  flex: 1;
  background-color: #e5e7eb;
  padding: 1rem;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

aside li {
  list-style: none;
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.curiosidades {
  margin-top: 1rem;
}

.buttons {
  margin-top: 1rem; /* espaço em cima do grupo */
}

.btn {
  background-color: #2d72d9;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
  text-align: center;

  display: block;
  width: 100%;
  margin: 10px auto;
}

.btn:hover {
  background-color: #1a4a9d;
}

/* Footer */
footer {
  background-color: #1f2937;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer .contact-links {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: inherit;
  margin: 5 5px;
}

footer a:hover {
  color: #0077b5;
}

footer span {
  margin: 0 5px;
  color: #999;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.contact-links a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.contact-links ion-icon {
  margin-right: 6px;
  font-size: 20px;
}
